
body {
  margin:0px;
  padding:0px;
}


#header{
	margin: 0px;
	padding-left: 10px;
	padding-top: 10px;
	height: 40px;
	background: #000;
	
}
#logo{
	margin:0px;
	width: 198px;
	height:30px;
	background-image: url(../images/logo.png);
	
}

#wrap {
  background-color:#fff;
  padding:10px;
  margin:0;
}

.box {
  background-color:#fff;
  border:1px solid #666;
  border-radius:7px;
  padding:10px;
  margin:5px 0px;
}




