
body {
  margin:0px;
  padding:0px;
}


#header{
	margin: 0px;
	padding-left: 10px;
	padding-top: 10px;
	height: 40px;
	background: #000;
	
}
#logo{
	margin:0px;
	width: 198px;
	height:30px;
	background-image: url(../images/logo.png);
	
}

#wrap {
  background-color:#fff;
  padding:10px;
  margin:0;
}

.box {
  background-color:#fff;
  border:1px solid #666;
  border-radius:7px;
  padding:10px;
  margin:5px 0px;
}

td.icon{
	border:solid thin #CCC;
	text-align:center;
}

table.icon_layout{
	border-spacing:15px;
}

table.icon{
	border-spacing:0px;
}

.title-text{
	font-weight:bold; 
	color:#4D4D4D;
}

.gray-text{
	font-weight:500;
	color:#626262;
}

.section-title{
  border-bottom:1px solid #666;
  background-color:#E8E8E8;
  padding:8px;
}

.cellClicker, .clickableCell {
  cursor:pointer;
  border-bottom:1px solid #666;
  padding:8px;
}

p, div.wrapper {
  background-color:#fff;
  border:1px solid #666;
  padding:10px;
  margin:5px 0px;
}




